{
  "presets": [
    [
      "@babel/preset-env", {
        "modules": false,
        "loose": false,
        "useBuiltIns": "usage"
      }
    ],
    [
      "@babel/preset-stage-2", {
        "modules": false,
        "loose": false,
        "useBuiltIns": true,
        "decoratorsLegacy": true
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-runtime", {
        "regenerator": false
      }
    ],
    [
      "transform-imports", {
        "quasar": {
          "preventFullImport": true
        }
      }
    ]
  ],
  "comments": false
}
